.main{
    background: linear-gradient(to bottom, rgb(58, 57, 57), black);
    height: 200vh;
    
    hr{
        width: 84%;
        margin-top: 10%;
    }
}

.main0{
    margin-left: 34%;
    padding-top: 10%;
    img{
        margin-left: 11%;
    }
    h1{
        margin-left: -16%;  
    }
}
.main01{
    display: flex;
    flex-direction: column;
    margin-left: 23%;
    gap: 30px;
    button{
        width: 300px;
        height: 46px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(24, 23, 23); 
    color:white; 
    border-color: white;
    }
    
}

.main02{
    form{
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    margin-top: 8%;
    gap: 11px;
    
    

   input{
    width: 62%;
    height: 33px;
    // border-color: aliceblue;
    border: 1px solid white;
    background-color: rgb(24, 23, 23)
   }
   
   button{
    width: 200px;
    height: 36px;
    border-radius: 50px;
    margin-left: 7%;
    margin-top: 10%;
    background-color: rgb(4, 255, 4); 
    color: black; 
    
    }
    
    }

    
}
.mainbox{
    border: 1px solid black;
    padding: 55px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(24, 23, 23);
    color: white;
    margin-left: 27%;
    position: absolute;
    top: 84px;
    display: flex;
    flex-direction: column;
    margin: auto;
    // justify-content: center;
    // align-items: baseline;
    left: 27%;
}